<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <!--MySql、MsSql-->
    <add key="dbType" value="MySql"/>
    <!--百度云mysql-->
    <add key="dbServer" value="sqld.duapp.com"/>
    <add key="dbUser" value="5oKSLiv7x5aIeAXyWuGuS4kC"/>
    <add key="dbPwd" value="fWfa3PMEyNOa5xazkgTkKll3VgSIoYTK"/>
    <add key="dbName" value="tpsUZMCfhMsuvnxdnOFP"/>
    <add key="dbMysqlPort" value="4050"/>
  </appSettings>
</configuration>